{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/Volleyballutility/css/homepage.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/Volleyballutility/css/form.css') }}" rel="stylesheet" />
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <h1>Contact Volleyball</h1>
        {{ form(form) }}
    </div>
</div>
{% endblock %}