{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/Volleyballutility/css/homepage.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/Volleyballutility/css/help.css') }}" rel="stylesheet" />
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <h1>Help</h1>

    </div>
</div>
{% endblock %}