.feature-row {
    padding-top: 54px;
}

.feature-row p {
    text-align: center;
}

.feature-row i {
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.feature-row h2 {
    font-size: 28px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
}

.feature-row h4 {
    font-family: "Titillum Web", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
i {
    font-size: 80px;
}

#left-pane {
    width: 33.33333333%;
    margin: auto;
}

#left-pane > div {
    margin-right: 35px;
    float: right;
}

#right-pane {
    padding-right: 44px;
}