    {% form_theme form 'VolleyballResourceBundle:Form:fields.html.twig' %}    
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="login_control">
        <button class="login_btn" type="submit" id="_submit" name="_submit">
            <i class="fa fa-gears"></i>
        </button>
    </div>
    </form>